<div id="actions">
  <ul>
    <li>
      <%= link_to t('.create_new'), new_admin_image_rotator_image_rotator_image_url(@image_rotator),
                   :class => "add_icon" %>
    </li>
</div>

<%= render :partial => "form" %>
